<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Plugin -->
    <type name="Magento\Catalog\Model\Product">
        <plugin name="product_name_plugin" type="Training\ProductQa\Plugin\ProductNamePlugin" />
    </type>

    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="training_productqa_layoutprocessor" type="Training\ProductQa\Plugin\Checkout\LayoutProcessorPlugin"/>
    </type>


    <preference for="Magento\Checkout\Api\GuestShippingInformationManagementInterface" type="Training\ProductQa\Model\Checkout\GuestShippingInformationManagement"/>

    <type name="Training\ProductQa\Model\Checkout\GuestShippingInformationManagement">
        <plugin name="training_productqa_guest_shipping_information" type="Training\ProductQa\Plugin\Checkout\GuestShippingInformationManagementPlugin"/>
    </type>

    <!-- Virtual Type -->
    <virtualType name="TrainingProductLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">productqa</argument>

            <argument name="handlers" xsi:type="array">
                <item name="productqa" xsi:type="object">
                    Training\ProductQa\Logger\Handler
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Inject Virtual Type -->
    <type name="Training\ProductQa\Model\QuestionService">
        <arguments>
            <argument name="logger" xsi:type="object">
                TrainingProductLogger
            </argument>
        </arguments>
    </type>

    <type name="Training\ProductQa\Observer\CreateQuestionObserver">
        <arguments>
            <argument name="logger" xsi:type="object">
                TrainingProductLogger
            </argument>
        </arguments>
    </type>

    <!-- Console Command -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="productqa_list" xsi:type="object">
                    Training\ProductQa\Console\Command\ProductQaListCommand
                </item>
            </argument>
        </arguments>
    </type>

    <!-- UI Listing DataProvider -->
    <type name="Training\ProductQa\Ui\DataProvider\Question\DataProvider">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">
            Training\ProductQa\Model\ResourceModel\Question\CollectionFactory
            </argument>
        </arguments>
    </type>

    <preference for="Training\ProductQa\Api\QuestionRepositoryInterface" type="Training\ProductQa\Model\QuestionRepository" />
    <preference for="Training\ProductQa\Api\Data\QuestionSearchResultsInterface" type="Training\ProductQa\Model\QuestionSearchResults" />
</config>
